*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.bottoni-up{
    color: white;
    background-color: grey;
    padding: .5rem;
    text-decoration: none;
    border-radius: 25px;
    
}

main{
    width: 100vw;
    background-color: black;
}

.conteiner{
    height: 90vh;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.flex{
    display: flex;
    height:calc(100% / 5);
    width: 100%;
    justify-content: space-between;
}



img{
    height: 100%;
}

p{
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #656f7b;
    padding: 0.5rem;
    font-size: 0.8rem;
}



article{
    position: relative;
    margin: 0.5rem;
}

footer{
    height: 10vh;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
}




.footer{
    /* width:calc(100% / 3); */
}

.footer-sx{
    margin-left: 3rem;
    font-size: 1.5rem;
    width: 15%;
}

.footer-centro{
    width: 70%;
    text-align: center;
}

.footer-dx{

    width: 15%;
}
.lato-sx{
    display: inline-block;
    margin-left: 2rem;
}

.fa-caret-up{
    margin-left: 1rem;
}

div{
    text-align: center;
    vertical-align: middle;
}

span{
    font-size: 1rem;
}

.footer-dx{
    height: 100%;
    text-align: end;
    
}

.lato-dx{
    text-align: center;
    display: inline-block;
    height: 100%;
    color: red;
    background-color: gray;
    padding-top: 2.5rem;
    width: calc(100% / 3);
}

.lato-centro{
    display: inline-block;
    margin-left: 1rem;
}

.footer-centro{
    font-size: 1.5rem;
}

.fa-share-from-square{
    color: green;
}