*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
}

.bottoni-up{
    color: white;
    background-color: grey;
    padding: .5rem;
    text-decoration: none;
    border-radius: 25px;
    
}

body{
    min-width: 1200px;
}

main{
    background-color: black;
    height: calc(100vh - 93.5px);
    overflow-y: auto;
}

.conteiner{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    height:calc(100% / 5);
    justify-content: space-between;
}



img{
    height: 100px;
    min-width: 210px;
    min-height: 140px;
}

p{
    color: white;
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    background-color: #656f7b;
    padding: 0.5rem;
    font-size: 0.8rem;
}



article{
    position: relative;
    margin: 0.17rem;
}

footer{
    background-color: #222222;
    color: white;
    height: 93.5px;
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}




.footer-sx{
    margin-left: 3rem;
    font-size: 1.5rem;
    width: 15%;
}

.footer-centro{
    width: 70%;
    text-align: center;
}

.footer-dx{

    width: 15%;
}
.lato-sx{
    display: inline-block;
    margin-left: 2rem;
}

.fa-caret-up{
    margin-left: 1rem;
}

div{
    text-align: center;
    vertical-align: middle;
}

span{
    font-size: 1rem;
}

.footer-dx{
    justify-content: end;    
}

.lato-dx{
    text-align: center;
    color: red;
    background-color: gray;
    padding-top: 2.5rem;
    height: 93.5px;
    width: 6rem;
}

.lato-centro{
    display: inline-block;
    margin-left: 1rem;
}

.footer-centro{
    font-size: 1.5rem;
}

.fa-share-from-square{
    color: green;
}